#contact {
    min-height: min-content;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto 20px;
    height: 100%;
    backdrop-filter: blur(10px);
    /* background-color: #f9f9f9; */
}

#contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    row-gap: 24px;
    box-shadow: 0 0 12px blue;
    border-radius: 12px;
    backdrop-filter: brightness(0.5);
    background-color: rgba(240, 248, 255, 0.05);
    margin: auto 0 120px 0px;
    padding: 48px 24px;
}

#contactForm input, #contactForm textarea {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    margin: 0 36px;
    color: #eee;
    transition: 0.125s;
}

#contactForm input:focus, #contactForm input:valid, #contactForm textarea:focus, #contactForm textarea:valid {
    border-color: #4a90e2;
}

#contactForm textarea {
    border: 2px solid #ccc;
    border-radius: 8px;
    resize: none;
    background-color: #ccccff22;
    padding: 4px 8px;
}

#contactForm p {
    text-align: center;
}

#formButton {
    display: flex;
    width: 100%;
    justify-content: end;
}

#contactForm button {
    width: 25%;
    padding: 12px;
    border-radius: 24px;
    background-color: transparent;
    color: blue;
    font-weight: bold;
    border: 2px solid blue;
    cursor: pointer;
}