#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectBlock {
    border: 2px solid blue;
    padding: 24px 10%;
    margin: 24px 25%;
    border-radius: 48px;
    backdrop-filter: blur(2px) brightness(0.9);
    transition: 0.125s;
}

.projectBlock:hover {
    box-shadow: 0 0 12px blue;
    backdrop-filter: blur(4px) brightness(0.8);
}

#projects .projectBlock:first-of-type {
    margin-top: 80px;
}

#projectsHead {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
}

#projectsDate {
    font-size: 1rem;
    font-weight: 500;
    color: #666;
    margin-bottom: 16px;
}

#projectsListItem {
    font-size: 1rem;
    font-weight: 400;
    color: #ccc;
    margin-bottom: 8px;
}

.projectsLinks {
    text-decoration: none;
    color: #4a90e2;
}