#workEx {
    /* min-height: min-content; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    padding: 80px 0;
}

.workExBlock {
    display: flex;
    width: 70%;
    flex-direction: column;
    /* border: 1px solid #ccc; */
    align-items: flex-start;
}

.workExRight {
    align-items: flex-end;
}

.workExOuterContainer {
    /* border: 1px solid blue; */
    width: 40%;
    border: 2px solid blue;
    padding: 24px 36px;
    border-radius: 36px;
    backdrop-filter: blur(2px) brightness(0.9);
    transition: 0.125s;
}

.workExOuterContainer:hover {
    box-shadow: 0 0 12px blue;
    backdrop-filter: blur(4px) brightness(0.8);
}

.workExpLinks {
    text-decoration: none;
    color: #4a90e2;
}

#workExHeader {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
}

#workExCompany {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #999;
}

#workExDate {
    font-size: 1rem;
    font-weight: 500;
    color: #666;
    margin-bottom: 16px;
    /* text-align: right; */
}

#workExListItem {
    font-size: 1rem;
    font-weight: 400;
    color: #ccc;
    margin-bottom: 8px;
    list-style-type: lower-roman;
}

@media screen and (max-width: 768px) {
    #workEx {
        padding: 40px 0;
    }

    .workExBlock {
        width: 90%;
    }

    .workExOuterContainer {
        width: 90%;
        padding: 24px 12px;
    }
    
}